@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --color-first: #22c55e;
  --color-second: #f7f9fb;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--color-second);
}

/* Background Colors */
.bg-first {
  background-color: var(--color-first);
}

.bg-second {
  background-color: var(--color-second);
}

/* Text Colors */
.text-first {
  color: var(--color-first);
}

/* Border Colors */
.border-first {
  border: 1px solid var(--color-first);
}

/* Text Shadows */
.text-shadow-first {
  text-shadow: 2px 2px 4px var(--color-first);
}

.cal-body,
.cal-body > div {
  height: 100%;
  align-items: center;
}
.link-dash .card {
  position: relative;
  overflow: hidden;
  color: inherit;
}

.link-dash .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  background-color: var(--color-first);
  transition: width 0.3s ease, left 0.3s ease;
  z-index: 1;
}

.link-dash .card:hover::before {
  width: 100%;
  left: 0;
}

.link-dash .card:hover {
  color: #fff;
}

.shadow-1 {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
